[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdparty/spirv-headers"]
	path = thirdparty/spirv-headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "thirdparty/vulkan-headers"]
	path = thirdparty/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm.git
